{% extends 'layout.html' %}

{% block title %}Dom{% endblock %}

{% block content %}
<h2>Strona Główna</h2>
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=data"></script>
<!-- STOP free4u.pl -->
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=godzina"></script>
<!-- STOP free4u.pl -->
<p>Weitaj z powrotem {{ username }}!</p>
<form action="/uploader" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" />
</form>
{% endblock %}