<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Logowanie</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Logowanie</h1>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Logowanie</a>
                <a href="{{ url_for('register') }}">Zarejestruj</a>
				<a href="{{url_for('password_resert') }}">Resetowanie hasła</a>
			</div>
			<form action="{{ url_for('login') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="nazwa użytkownika" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="hasło" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Zaloguj">
			</form>
		</div>
	</body>
</html>