{% extends 'layout.html' %}

{% block title %}Sklep{% endblock %}
{% block content %}
<h2>Koszyk change</h2>
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=data"></script>
<!-- STOP free4u.pl -->
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=godzina"></script>
<!-- STOP free4u.pl -->
<form action="{{ url_for('items_change') }}" method="post" autocomplete="off">
    Indenfikator<input type="text" name="indenfikator" placeholder="indenfikator" id="indenfikator" required>
    <br>
    Id<input type="text" name="id" placeholder="id" id="id" required>
    <br>
    ilość<input type="text" name="ilosc" placeholder="ilośc" id="ilosc" required>
    <br>
    Usuń<input type="text" name="usun" placeholder="usuń" id="usun" required>
    <br>
    <div class="msg">{{ msg }}</div>
    <br>
	<input type="submit" value="Dodaj">

{% endblock %}