{% extends 'layout.html' %}

{% block title %}Sklep{% endblock %}
{% block content %}
<h2>Koszyk</h2>
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=data"></script>
<!-- STOP free4u.pl -->
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=godzina"></script>
<!-- STOP free4u.pl -->
<br>
Wartośc koszyka {{account[7]}} zł.
<br>
<table border="1">
    <tr>
        <td>Id</td><td>Indenfikator</td><td>Ilośc</td><td>Cena całkowita</td><td>Konto</td><td>Nazwa produktu</td>
    </tr>
    {% for sklep in sklepDetalis %}
    <tr>
        <td>{{sklep[0]}}</td><td>{{sklep[1]}}</td><td>{{sklep[2]}}</td><td>{{sklep[3]}}</td><td>{{sklep[4]}}</td><td>{{sklep[5]}}</td>
    </tr>
    </tr>
    </tr>
    {% endfor %}
</table>
<form action="/items_change" method="post" enctype="multipart/form-data">
    Indenfikator<input type="text" name="indenfikator" placeholder="indenfikator" id="indenfikator" required>
    <br>
    Id<input type="text" name="id" placeholder="id" id="id" required>
    <br>
    ilość<input type="text" name="ilosc" placeholder="ilośc" id="ilosc" required>
    <br>
    Usuń<input type="text" name="usun" placeholder="usuń" id="usun" required>
    <br>
	<input type="submit" value="Dodaj">
{% endblock %}