{% extends 'layout.html' %}

{% block title %}Users Koszyk{% endblock %}
{% block content %}
<h2>Users Koszyk</h2>
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=data"></script>
<!-- STOP free4u.pl -->
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=godzina"></script>
<!-- STOP free4u.pl -->
<table border="1">
    <tr>
        <td>id</td><td>Indenfikator</td><td>Ilosć</td><td>Cena</td><td>Konto</td><td>Nazwa produktu</td>
    </tr>
    {% for user_koszyk in users %}
    <tr>
        <td>{{user_koszyk[0]}}</td><td>{{user_koszyk[1]}}</td><td>{{user_koszyk[2]}}</td><td>{{user_koszyk[3]}}</td><td>{{user_koszyk[4]}}</td><td>{{user_koszyk[5]}}</td>
    </tr>
    {% endfor %}
</table>
<div class="msg">{{msg}}</div>
<form action="/sklep_edit" method="post" enctype="multipart/form-data">
    Indenfikator<input type="text" name="indenfikator" placeholder="indenfikator" id="indenfikator" required>
    <br>
    Cena<input type="text" name="cena_t" placeholder="cena" id="cena_t" required>
    <br>
    Usuń<input type="text" name="usun" placeholder="usuń" id="usun" required>
    <br>
	<input type="submit" value="Dodaj">
<a href="{{ url_for('admin') }}">Panel Admina</a>
{% endblock %}