<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pytania odp</title>
</head>
{% extends 'layout.html' %}
{% block title %}Odp{% endblock %}
{% block content %}
<body>
<h2>Odp</h2>
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=data"></script>
<!-- STOP free4u.pl -->
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=godzina"></script>
<!-- STOP free4u.pl -->
<br>
Z pytań {{ilosc[0]}} {{account[1]}} zgadł prawidłowe {{account[10]}} pytań.
<br>
Wynik: {{suma}}%
<table border="1">
    <tr>
        <td>numer pyt</td><td>Treść</td><td>a</td><td>b</td><td>c</td><td>d</td><td>odp yes</td>
    </tr>
    {% for odp in pytanie %}
    <tr>
        <td>{{odp[1]}}</td><td>{{odp[7]}}</td><td>{{odp[3]}}</td><td>{{odp[4]}}</td><td>{{odp[5]}}</td><td>{{odp[6]}}</td><td>{{odp[2]}}</td>
    </tr>
    {% endfor %}
</table>
<br>
<table border="1">
<tr>
<td>Numer</td><td>pyt</td><td>odp wybrana</td>
</tr>
{% for odp1 in ceck%}
<tr>
<td>{{odp1[2]}}</td><td>{{odp1[3]}}</td><td>{{odp1[4]}}</td>
</tr>
{% endfor%}
</table>
<br>
<form method="POST" action="/button_odp">
<input type="submit">
</form>
</body>
</html>
{% endblock %}