<!DOCTYPE html>
{% extends 'layout.html' %}
{% block title %}Pytania{% endblock %}
{% block content %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pytania</title>
</head>
<body>
<h2>Pytania</h2>
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=data"></script>
<!-- STOP free4u.pl -->
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=godzina"></script>
<!-- STOP free4u.pl -->
<form action="{{ url_for('pytanie_add') }}" method="post">
    Nr pytania<input type="int" id="numer_pytnia">
    <br>
    Treść <input type="text" id="tresc">
    <br>
    A <input type="text"  id="a">
    <br>
    B <input type="text" id="b">
    <br>
    C <input type="text" id="c">
    <br>
    D <input type="text" id="d">
    <br>
    Odp_tak <input type="text" id="odp_tak">
    <br>
    Wyczyć <input type="text" id="wyczyc">
    <br>
    <input type="submit">
</form>
<div class="msg">{{ msg }}</div>
</body>
</html>
{% endblock %}