<!DOCTYPE html>
{% extends 'layout.html' %}
{% block title %}Pytania{% endblock %}
{% block content %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pytania</title>
</head>
<body>
<h2>Pytania</h2>
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=data"></script>
<!-- STOP free4u.pl -->
<!-- START free4u.pl -->
<script type="text/JavaScript" src="http://www.free4u.pl/data_godzina.php?co=godzina"></script>
<!-- STOP free4u.pl -->
<table border="1">
    <tr>
        <td>numer pyt</td><td>Treść</td><td>a</td><td>b</td><td>c</td><td>d</td>
    </tr>
    {% for pytania in pytanie %}
    <tr>
        <td>{{pytania[1]}}</td><td>{{pytania[7]}}</td><td>{{pytania[3]}}</td><td>{{pytania[4]}}</td><td>{{pytania[5]}}</td><td>{{pytania[6]}}</td>
    </tr>
    {% endfor %}
</table>
    <form method="POST" action="/test">
        Nr pytania<input type="int"  name="numer" id="numer">
        a<input type="radio" value="a" name="mycheckbox">
        b<input type="radio" value="b" name="mycheckbox">
        c<input type="radio" value="c" name="mycheckbox">
        d<input type="radio" value="d" name="mycheckbox">
        <input type="submit">
    </form>
    <div class="msg">{{ msg }}</div>
</body>
</html>
{% endblock %}