<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Token reset</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Token reset</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Logowanie</a>
				<a href="{{ url_for('token_reset') }}" class="active">Resetowanie tokena</a>
			</div>
			<form action="{{ url_for('token_reset') }}" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="nazwa użytkownika" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="hasło" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Resetuj">
			</form>
		</div>
	</body>
</html>